/* CSS Global  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: rgb(50, 86, 185);
  color: rgb(0, 0, 0);
  padding: 0;
}

.container {
  max-width: 1200px;
  background-color: rgb(177, 177, 177);
  border-radius: 12px;
  margin: 200px auto 20px;
}

/* Card base */
.card {
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(61, 169, 240);
  margin: 0 auto 40px;
  border-top: 4px solid rgb(47, 85, 255);
  width: 1200px;
}

.card.module-1 {
  border-top: 4px solid hsl(216, 64%, 48%);
}

.card.module-2 {
  border-top: 4px solid rgb(71, 102, 238);
}

.card.module-3 {
  border-top: 4px solid rgb(31, 88, 187);
}

.card.module-4 {
  border-top: 4px solid rgb(35, 62, 210);
}

.card.module-5 {
  border-top: 4px solid rgb(61, 82, 224);
}
pre {
}

.note {
}

.note::before {
}

code {
  background-color: rgb(218, 218, 218);
  border-radius: 4px;
  padding: 2px 4px;
}

.badge {
}

/* Images (global safe defaults) */
img {
}

/* CSS For Group 1: Header  */
header {
  background-color: white;
  box-shadow: 5px 5px 5px black;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}
h1 {
  color: rgb(40, 76, 194);
}

.list-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px;
  justify-content: center;
} /* CSS For Group 2: Card 1: Basics  */

.list-menu li {
  background-color: rgb(40, 68, 226);
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
}

.list-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* CSS For Group 3: Card 2: Resize & aspect  */
.list-menu li:hover {
  background-color: rgb(4, 17, 90);
} /* CSS For Group 3: Card 2: Resize & aspect  */

.img_small {
  display: block;
  width: 10%;
}
/* CSS For Group 4: Card 3: Object fit  */

/* CSS For Group 5: Card 4: Image as Link  */

/* CSS For Group 6: Card 5: Gallery  */

/* CSS For Group 7: Card 6: Responsive  */

/* CSS For Group 8: Card 7: Figure & Caption + Task  */

/* CSS For Group 9: Card 8: Local file tips  */

/* CSS For Group 10: Back to Tutorial */
