* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Kanit", sans-serif;
  color: #333;
  background: rgb(196, 194, 194);
}

/*======================================================*/

/*======================================================*/

.site-header {
  background-color: white;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  /*background-color: skyblue;*/
}

.site-title {
  font-size: 1.37rem;
  font-weight: 700;
}

.site-subtitle {
  font-size: 0.875rem;
  color: #8f8e8ee1;
  font-weight: 400;
}

.social-icons a {
  font-size: 1rem;
  border: 1px solid #555;
  color: #555;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: all 0.3 ease;
}

.social-icons a:hover {
  background-color: black;
  color: #fff;
  border: black;
  transform: translateY(-3px) scale(1.2);
}

.nav-menu {
  display: flex;
  list-style: none;
}

.main-nav {
  background-color: rgb(0, 132, 240);
}

.main-nav li a {
  color: #fff;
  font-size: 0.9rem;

  display: block;
  padding: 15px 15px;
  transition: 0.4s;
  align-self: start;
}

.nav-menu a.active,
.nav-menu li a:hover {
  background-color: rgb(59, 58, 59);
}

/*======================================================*/
/*haro-section*/
/*======================================================*/
.hero-content {
  background-color: rgb(160, 158, 158);
  padding: 30px 0px;
  margin-bottom: 30px;
  box-shadow: 0 2px 14px;
}

.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
}

.hero-title {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 5px 15px black;
  text-align: center;
  backdrop-filter: blur;
}

/*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        */

.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.7;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #102fdb;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}

/*======================================================*/
/*Page Section*/
/*======================================================*/
.content-grid {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  gap: 10px;
}

/* left side-main Content */
.card {
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  padding: 18px;
}

.card + .card {
  margin-top: 20px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-headline {
  font-size: 0.687rem;
  color: #777;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dete-circle {
  background-color: rgb(37, 136, 250);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.69rem;
}
.dete-circle span.day {
  font-size: 1.2rem;
  font-weight: 700;
}
.post-description {
  font-size: 0.82rem;
  color: #555;
  line-height: 1.5;
  margin: 10px 0;
}
.post-footer {
  font-size: 0.68rem;
  color: #777;
  border-top: 1px solid rgb(189, 188, 188);
  padding-top: 10px;
  display: flex;
  gap: 6px;
}
/* css for card 1 image */
.post-image {
  margin: 15px 0;
  height: 200px;
  overflow: hidden;
}
.post-image img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  object-fit: cover;
}
/* css for card 2 table */
.comparison-table {
  /* border: 2px solid rgb(0, 0, 0); */
  /* border-collapse: collapse; */
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgb(70, 68, 68);
}
.comparison-table th {
  border: 2px solid rgb(29, 146, 241);
  color: white;
  background: linear-gradient(35deg, rgb(23, 55, 199), rgb(10, 4, 66));
  padding: 15px;
}
.comparison-table td {
  /* border: 2px solid rgb(29, 146, 241); */
  background-color: #ffffff;
  padding: 15px;
}
.comparison-table tr:nth-child(even) td {
  /* border: 2px solid rgb(29, 146, 241); */
  background-color: rgb(202, 202, 202);
  padding: 15px;
}
.comparison-table tr:hover td {
  /* border: 2px solid rgb(29, 146, 241); */
  background-color: rgb(138, 138, 138);
  padding: 15px;
}
.feature {
  font-weight: 600;
  color: #333;
  background-color: rgb(221, 221, 221);
}
.text-gray {
  font-weight: 600;
  color: #cac5c5;
}
.text-green {
  font-weight: 600;
  color: #17d417;
}
.text-red {
  font-weight: 600;
  color: #f31616;
}
/* right side Aside */
.Widget {
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  padding: 18px;
}

.Widget + .Widget {
  margin-top: 10px;
}
/* */
.contact-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #2c56e2;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgb(43, 117, 228);
}
.contact-from-main-card {
  background-color: rgb(187, 44, 44);
  padding: 40px;
  border: 15px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgb(190, 181, 181);
}
.form-label {
  font-size: 1;
  color: rgb(23, 37, 231);
  font-weight: 500;
  display: block;
}
.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 8px 8px;
  border-radius: 6px;
  font-size: 0.9rem;
}
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-select {
  border: 2px solid #114797;
}
.contact-from-main-card .form-input,
.contact-from-main-card .form-select,
.contact-from-main-card .form-textarea {
  background-color: rgba(84, 136, 179, 0.562);
  border: 2px solid #0c60af;
  color: rgb(189, 50, 50);
}
.form-checkbox-group {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.checkbox-item {
  display: flex;
  align-items: center;
}
.checkbox-item input[type="checkbox"] {
  transform: scale(1.15);
  accent-color: red;
}
.form-textarea {
  resize: vertical;
  min-height: 100px;
}
.form-button {
  width: 100%;
  border: none;
  padding: 12px 30px;
  border-radius: 12px;
  corsor: pointer;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(48, 127, 247), rgb(132, 235, 248));
  font-weight: 600;
  margin: 10px;
}
.contact-form-main-card.form-button-reset {
  background: linear-gradient(rgb(241, 66, 204), rgb(245, 136, 245));
}

/* Focus: ฟอร์มหลัก */
.contact-form-main-card .form-input:focus,
.contact-form-main-card .form-select:focus,
.contact-form-main-card .form-textarea:focus {
  outline: none;
  background: #fff;
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.18);
  transform: translateY(-1px);
}
.contact-form-main-card .form-button:hover {
  background: linear-gradient(45deg, #f03434, #f04bb9);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}
